mat-card {
  width: 17.5rem;
  height: 350px;
  position: relative;
  margin: 0.5rem;
}

mat-card > img {
  width: 100%;
  height: 50%;
}

.tournament-card {
  background-color: #050c1f;
}

.tournament-title {
  font-size: large;
}

.tournament-sport {
  color: #e88223;
  text-transform: uppercase;
  padding-bottom: 4px;
  font-size: small;
}

.text-white {
  color: white;
}

mat-card-header mat-card-content mat-card-actions {
  padding: 0 1rem;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.row {
  display: flex;
  align-items: center;
  font-size: small;
  & p {
    padding: 0 0.5em;
  }
}

.playercount {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: #050c1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 40%;
}

.group-icon {
  padding-top: 12px;
}

.number-players {
  padding-bottom: 12px;
  font-size: x-small;
}

.see-more-button {
  width: 100%;
  text-transform: uppercase;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #00bcd4;
  font-size: 1rem;
  font-family: Roboto;
}
