@import "../../../../assets/style/variables.scss";

.filters-button {
  display: flex;
  justify-content: space-around;

  & button {
    font-family: "Roboto";
    margin-top: 16px;
  }
}

.apply-filters {
  color: $secondary-color;
}

.reset-filters {
  color: $secondary-color-button;
}

::ng-deep .mat-mdc-menu-content {
  text-align: center;
}

.selected {
  color: $card-background-color;
}

.sidebar-select-sport {
  & mat-label {
    font-size: 0.85rem;
  }
  & mat-select {
    padding-top: 0.3rem;
  }
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  width: 100%;
  & mat-label {
    width: 50%;
  }
  & mat-select {
    width: 50%;
  }
}
