<mat-drawer-container
  class="container-sidebar-desktop"
  *ngIf="isDesktop || isLargeDesktop"
>
  <mat-drawer #drawer mode="side" class="container-sidebar-menu">
    <div class="container-sidebar-menu-input">
      <app-input-search
        (newSearchValueEventFromInput)="onReceiveSearchValueFromInput($event)"
      ></app-input-search>
    </div>
    <h2>FILTRES</h2>
    <div class="line"></div>
    <div class="container-sidebar-menu-button sidebar-select-sport">
      <mat-label>Trier par sport</mat-label>
      <mat-select [(value)]="selectedSport" class="selected">
        <mat-option
          selected="selected"
          value=""
          (click)="sendSportFilter(selectedSport)"
          (click)="$event.stopPropagation()"
          >Aucun</mat-option
        >
        <mat-option
          *ngFor="let sport of sports"
          value="{{ sport }}"
          (click)="$event.stopPropagation()"
          (click)="sendSportFilter(selectedSport)"
          >{{ sport }}</mat-option
        >
      </mat-select>
    </div>
    <button
      (click)="showFiller = !showFiller"
      mat-raised-button
      class="container-sidebar-menu-button"
      (click)="sendChronologicalFilterChangeToParent()"
    >
      Trier par :
      <span [ngClass]="{ selected: !chronologicalFilter }">Nom</span> /
      <span [ngClass]="{ selected: chronologicalFilter }">Date</span>
    </button>
    <mat-divider></mat-divider>
    <button
      (click)="showFiller = !showFiller"
      (click)="sendShowOnlyUpcomingTournamentsToParent()"
      mat-raised-button
      class="container-sidebar-menu-button"
      [ngClass]="{ selected: showOnlyUpcomingTournaments }"
    >
      A venir
    </button>
    <button
      (click)="showFiller = !showFiller"
      mat-raised-button
      class="container-sidebar-menu-button"
      (click)="sendShowNonFullTournaments()"
      [ngClass]="{ selected: showNonFullTournaments }"
    >
      Non complet
    </button>

    <mat-divider></mat-divider>
    <div class="filters-button">
      <button
        mat-raised-button
        color="primary"
        class="apply-filters"
        (click)="sendApplyFilters()"
      >
        Appliquer
      </button>
    </div>
    <div class="filters-button">
      <button
        mat-stroked-button
        color="primary"
        class="reset-filters"
        (click)="sendResetFilters()"
      >
        Réinitialiser les filtres
      </button>
    </div>
  </mat-drawer>
  <div class="sidenav-button">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>{{
        isDrawerOpened ? "arrow_back_ios" : "arrow_forward_ios"
      }}</mat-icon>
    </button>
  </div>
</mat-drawer-container>
<mat-toolbar
  class="container-sidebar-mobile"
  *ngIf="!isDesktop || !isLargeDesktop"
>
  <div class="container-sidebar-menu-input">
    <app-input-search
      (newSearchValueEventFromInput)="onReceiveSearchValueFromInput($event)"
    >
    </app-input-search>
  </div>
  <button class="filter-button-container" mat-button [matMenuTriggerFor]="menu">
    FILTRES
  </button>
  <mat-menu #menu="matMenu" class="sidebar-custom-menu">
    <div class="sidebar-select-sport-mobile" mat-menu-item>
      <mat-label>Trier par sport</mat-label>
      <mat-select
        [(value)]="selectedSport"
        class="selected"
        (click)="$event.stopPropagation()"
      >
        <mat-option
          selected="selected"
          value=""
          (click)="sendSportFilter(selectedSport)"
          (click)="$event.stopPropagation()"
          >Aucun</mat-option
        >
        <mat-option
          *ngFor="let sport of sports"
          value="{{ sport }}"
          (click)="$event.stopPropagation()"
          (click)="sendSportFilter(selectedSport)"
          >{{ sport }}</mat-option
        >
      </mat-select>
    </div>
    <button
      mat-menu-item
      (click)="sendChronologicalFilterChangeToParent()"
      (click)="$event.stopPropagation()"
    >
      <span [ngClass]="{ selected: !chronologicalFilter }">Nom</span> /
      <span [ngClass]="{ selected: chronologicalFilter }">Date</span>
    </button>
    <button
      mat-menu-item
      (click)="sendShowOnlyUpcomingTournamentsToParent()"
      (click)="$event.stopPropagation()"
      [ngClass]="{ selected: showOnlyUpcomingTournaments }"
    >
      A venir
    </button>
    <button
      mat-menu-item
      (click)="sendShowNonFullTournaments()"
      (click)="$event.stopPropagation()"
      [ngClass]="{ selected: showNonFullTournaments }"
    >
      Non complet
    </button>
    <mat-divider></mat-divider>
    <div class="filters-button">
      <button
        mat-raised-button
        color="primary"
        class="apply-filters"
        (click)="sendApplyFilters()"
      >
        Appliquer
      </button>
    </div>
    <div class="filters-button">
      <button
        mat-stroked-button
        color="primary"
        class="reset-filters"
        (click)="sendResetFilters()"
        (click)="$event.stopPropagation()"
      >
        Réinitialiser les filtres
      </button>
    </div>
  </mat-menu>
</mat-toolbar>