<div class="team-detail-container">
  <app-menu-buttons
    [buttonLabels]="['create-team', 'list-team']"
    (buttonClick)="onButtonClicked($event)"
  >
  </app-menu-buttons>
  <div *ngIf="isSelectedTeam$ | async">
    <app-team-detail-card></app-team-detail-card>
  </div>
  <div *ngIf="!(isSelectedTeam$ | async)">
    <div *ngIf="buttonValueClicked === 'list-team'">
      <app-list-team></app-list-team>
    </div>

    <div *ngIf="buttonValueClicked === 'create-team'">
      <app-create-team></app-create-team>
    </div>
  </div>
</div>
