<div class="menu-member-container" *ngIf="team$ | async as team">
  <div class="menu-member-container">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      class="mat-tabs"
      #tabGroup
    >
      <mat-tab label="LISTE DES MEMBRES">
        <app-list-member
          [team$]="team$"
          [teamMembers$]="teamMembers$"
        ></app-list-member>
      </mat-tab>
      <mat-tab
        *ngIf="membersCount < team.numberOfPlayers"
        label="AJOUT D'UN MEMBRE"
      >
        <app-create-member
          (cancelClicked)="handleCancelClick()"
        ></app-create-member>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
