@import "../../../../../assets/style/variables.scss";

.current-profile-container {
  padding: 2rem;

  .tabs-team {
    padding: 1rem 0;
  }
  ::ng-deep .mdc-tab__text-label {
    color: $secondary-color;
  }
}
