<div class="current-profile-container">
  <app-card-current-profile
    *ngIf="currentUser$ | async as currentUser"
    [currentUser]="currentUser"
  ></app-card-current-profile>
  <div class="profile-tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="RÉSULTATS">
        <app-list-resultats
          *ngIf="currentProfile$ | async as currentProfile"
          [currentProfile]="currentProfile"
        ></app-list-resultats>
      </mat-tab>
      <mat-tab label="ÉQUIPES">
        <app-list-team-members
          *ngIf="teamMembers$ | async as teamMembers"
          [teamMembers]="teamMembers"
        ></app-list-team-members>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
