<section>
  <div class="list-resultats-container-resultats-desktop">
    <div class="list-resultats-container-resultats">
      <app-card-result-total
        [userStatistics]="userStatistics"
      ></app-card-result-total>
    </div>
    <div class="list-resultats-container-items">
      <div *ngFor="let result of getObjectEntries(userStatistics)">
        <app-card-result-tournament
          [result]="result"
        ></app-card-result-tournament>
      </div>
    </div>
  </div>
  <div class="list-resultats-container-resultats-desktop">
    <app-list-last-tounaments-played
      [userStatistics]="userStatistics"
    ></app-list-last-tounaments-played>
    <app-list-next-tournaments
      [userStatistics]="userStatistics"
    ></app-list-next-tournaments>
  </div>
</section>
