@import "../../../../../assets/style/mixins.scss";
@import "../../../../../assets/style/variables.scss";

.container-home-desktop {
  @include flex;
  @include media-mobile-screen;
}

.tournament-container {
  @include flex-column-center;
  margin: 2rem auto;
}

h1 {
  font-weight: normal;
  color: $secondary-color;
}

mat-divider {
  margin: 16px 0;
}

.all-tournaments {
  margin: 24px;
}

.tournament-list {
  display: inline-flex;
  justify-content: space-between;
}

.tournament-card {
  margin: 24px 8px;
}
