@import '../../../../../assets/style/variables.scss';
@import '../../../../../assets/style/mixins.scss';

section {
  margin-top: 2vh;
  padding: 2rem;
  width: 100%;

  h1 {
    color: $secondary-color;
    font-weight: normal;
    margin: 1rem 0;
    text-align: left;
  }

  .mat-divider {
    border-top-color: $secondary-color;
    width: 100%;
  }

  form {
    @include flex-column-center-align-justify;

    .mat-mdc-form-field {
      margin-top: 2rem;
      width: 100%;
    }

    .error-message-size {
      font-size: small;
    }

    button {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .mat-mdc-raised-button:not(:disabled) {
    color: $primary-color-button-text;
  }

  .mat-mdc-raised-button:hover,
  .mat-mdc-raised-button:focus {
    color: $primary-color-button-text;
  }

  @media screen and (min-width: 768px) {
    form {
      .mat-mdc-form-field {
        width: 50vw;
      }

      button {
        width: 50vw;
      }
    }
  }
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  background-color: $primary-background-color;
}
