<div class="container-home">
  <app-sidebar
    (isDrawerOpenedChange)="handleDrawerChange($event)"
  ></app-sidebar>
  <div
    class="tournament-container-home"
    [ngStyle]="{
      'margin-left.rem': isOpen === 'open' ? 15 : 0,
      'width.%': isOpen === 'open' ? 80 : 100,
      'transition.s':  0.3
    }"
  >
    <section class="tournaments" [ngStyle]="{
      'transition.s':  0.3
    }">
      <div class="ongoing-tournaments">
        <h1>Tournois en cours</h1>
        <app-carousel></app-carousel>
      </div>
      <hr />
      <div class="open-tournaments">
        <h1>Tournois ouverts à l'inscription</h1>
        <app-carousel></app-carousel>
      </div>
    </section>
  </div>
</div>
