<div class="container-home">
  <div class="tournament-container-home">
    <section
      class="tournaments"
      [ngStyle]="{
        'transition.s': 0.3
      }"
    >
      <div class="ongoing-tournaments">
        <h1>TOURNOIS EN COURS</h1>
        <mat-divider></mat-divider>
        <app-carousel></app-carousel>
      </div>
      <div class="open-tournaments">
        <h1>TOURNOIS OUVERTS À L'INSCRIPTION</h1>
        <mat-divider></mat-divider>
        <app-carousel></app-carousel>
      </div>
    </section>
  </div>
</div>
