@import "../../../../assets/style/mixins.scss";
@import "../../../../assets/style/variables.scss";

.container-home {
  @include flex-align-center;
  padding: 0 2rem;
  width: 100vw;

  .tournament-container-home {
    width: 100%;
    padding-left: 1rem;

    h1 {
      color: $secondary-color;
      font-weight: normal;
      margin: 2rem;
    }

    hr {
      margin: 2rem;
    }
  }

  @include media-mobile-tablet-screen {
    @include flex-column-center;
  }

  @include media-large-screen {
    @include flex-column-center;
  }
}
