@import "../../../../assets/style/mixins.scss";
@import "../../../../assets/style/variables.scss";

.container-home-desktop {
  @include flex;
  @include media-mobile-screen;
}

.tournament-container {
  @include flex-column-center;
  margin: 2rem auto;
}

h1 {
  color: $secondary-color;
  font-weight: normal;
  margin: 16px 0;
}

hr {
  margin: 2rem;
}
