<div class="register-page-container">
  <div class="register-block">
    <h1>CONNEXION</h1>
    <mat-divider></mat-divider>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error
          *ngIf="email?.errors && !email?.pristine"
          class="error-message-size">
          Email invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error
          *ngIf="password?.errors && !password?.pristine"
          class="error-message-size">
          Mot de passe invalide
        </mat-error>
      </mat-form-field>
      <a
        [routerLink]="['/auth/forgotten-password']"
        class="forgotten-password-link"
        >Mot de passe oublié ?</a
      >

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="register-button">
          SE CONNECTER
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="login-button"
          type="button"
          [routerLink]="['/auth/register']">
          S'INSCRIRE
        </button>
      </div>
    </form>
  </div>
</div>
