/* Background-color */
$background-color: #191a2c;
<<<<<<< HEAD
$secondary-color: #000;
$card-background-color: #76B7C5;
=======
$secondary-color: #fff;

/* navbar-color */
$background-navbar-color: #191a2c;
$box-shadow-navbar-color: #000;
$button-navbar-color-text: #fff;
$button-navbar-color-focus: #e3e3e3;

/* input-search-color */
$background-input-search-color: #191a2c;

/* sidebar-color */
$background-sidebar-color: #191a2c;
$border-sidebar-color: #000;
$line-sidebar-color: #fff;

/* footer-color */
$background-footer-color: #191a2c;
$border-footer-color: #000;
$line-footer-color: #fff;

/* contact-page-color */
$color-contact: #fff;

/* contact-card-color */
$background-contact-card-color: #fff;
$color-contact-card-color: #191a2c;

/* dialog-overview-color */
$background-dialog-overview-color: #191a2c;
>>>>>>> 4d894b04a192d1d3bab2b7238748a2f717a4044e
