/* DARK MODE */
/* MAIN COLORS */
$primary-color: #191a2c;
$secondary-color: #f1f1f1;

/* ELEMENTS COLORS */
$primary-background-color: #050c1f;
$secondary-background-color: #31abc758;
$primary-background-color-card: #76b7c5;
$secondary-background-color-card: #000;

/* TEXT COLORS */
$primary-color-text: #000;
$secondary-color-text: #f1f1f1;
$important-color-text: #e88223;
$primary-color-button-text: #050c1f;
$important-color-text-login: #31acc7;

/* BUTTONS COLORS */
$primary-color-button: #76b7c5;
$secondary-color-button: #31acc7;
$warn-color-button: #f44336;

/* BORDER COLORS */
$primary-color-border: #000;
$secondary-color-border: #f1f1f1;

/* LINE COLORS */
$primary-color-line: #f1f1f1;
$secondary-color-line: #31acc7;
$important-color-line: #e88223;

/* SHADOW COLORS */
$primary-color-shadow: #000;
$important-color-shadow: #b9681c;

/* FOCUS COLORS */
$primary-color-focus: #e3e3e3;

/* SPINNER COLORS */
$primary-color-spinner: #e88223;
