@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.container-contact-card {
  width: 15rem;
  margin: 2rem;
  background-color: $secondary-background-color-card;

  .container-contact-card-profile-picture {
    filter: grayscale(100%) saturate(0%);
  }

  .container-contact-card-description {
    color: $primary-color;

    h1 {
      text-align: center;
    }
  }

  .container-contact-card-actions {
    @include flex-justify-content-center;

    img {
      margin: 0.5rem 0.5rem 0 0.5rem;
      width: 3rem;
    }
  }
}
