<div class="register-page-container">
  <div class="register-block">
    <h1 class="registration-title">Inscription</h1>
    <mat-divider class="register-divider"></mat-divider>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" formControlName="firstName">
        <mat-error *ngIf="registerForm.get('firstName')?.errors && !registerForm.get('firstName')?.pristine"
                   class="error-message-size">
          Prénom invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error *ngIf="registerForm.get('lastName')?.errors && !registerForm.get('lastName')?.pristine"
                   class="error-message-size">
          Nom invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Sport pratiqué</mat-label>
        <mat-select formControlName="sport">
          <mat-option *ngFor="let sport of sports" [value]="sport.name">
            {{ sport.viewName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Adresse email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="registerForm.get('email')?.errors && !registerForm.get('email')?.pristine"
                   class="error-message-size">
          Email invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="registerForm.get('password')?.errors && !registerForm.get('password')?.pristine"
                   class="error-message-size">
          Le mot de passe doit contenir au moins 8 caractères
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Confirmez le mot de passe</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <div *ngIf="registerForm.hasError('noMatch') && !registerForm.get('confirmPassword')?.pristine"
             class="custom-error-message error-message-size">
          {{ confirmError() }}
        </div>
        <mat-error class="error-message-size">Les mots de passe ne correspondent pas.</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="acceptTerms">
        <mat-label>J'accepte les conditions d'utilisation de WinIt.</mat-label>
      </mat-checkbox>
      <mat-error *ngIf="registerForm.get('acceptTerms')?.errors &&
      (!registerForm.get('acceptTerms')?.pristine ||
      (!registerForm.get('firstName')?.pristine && !registerForm.get('lastName')?.pristine && !registerForm.get('email')?.pristine && !registerForm.get('password')?.pristine && !registerForm.get('confirmPassword')?.pristine)
      )"
                 class="error-message-size">
        Vous devez accepter les conditions d'utilisation pour vous inscrire.
      </mat-error>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="register-button">S'INSCRIRE</button>
        <button mat-stroked-button color="primary" class="login-button">SE CONNECTER</button>
      </div>
    </form>
  </div>
</div>

