<div *ngIf="tournamentDetails" class="list-teams-tounament">
  <div class="list-teams-tounament-header">
    <h3>Équipes inscrites</h3>
    <div class="list-teams-tounament-total-members">
      <mat-icon>people</mat-icon>
      <p>{{ totalinscription }}/{{ tournamentDetails.participants }}</p>
    </div>
  </div>
  <ul
    *ngFor="let team of tournamentDetails.teams; let i = index"
    class="list-teams-tounament-body"
  >
    <li>
      <img src="{{ team.url }}" alt="logo team" />
      <div>
        <h3>Équipe n°{{ i + 1 }}</h3>
        <p class="list-teams-tounament-body-text">{{ team.team }}</p>
      </div>
      <button
        *ngIf="limitInscriptionValue !== 0 && tournament.isGenerated"
        mat-button
        color="warn"
        (click)="openDialog({ name: team.name, result: 0, url: '' })"
      >
        SUPPRIMER
      </button>
    </li>
  </ul>
</div>
