@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.menu-infos-profile-container {
  padding: 0;
  display: flex;
  background-color: $background-menu-infos-profile-color;

  .mat-mdc-raised-button:not(:disabled).active {
    background-color: $background-menu-infos-profile-color;
    color: $button-menu-infos-profile-color-focus;
  }

  .mat-mdc-raised-button:not(:disabled) {
    color: $button-menu-infos-profile-color-text;
    z-index: 0;
  }

  .mat-mdc-raised-button:hover,
  .mat-mdc-raised-button:focus {
    color: $button-menu-infos-profile-color-focus;
  }

  ::ng-deep .mat-mdc-raised-button:not(:disabled) {
    background-color: $background-menu-infos-profile-color;
    box-shadow: none;
  }
}
