@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.list-members-container {
  @include flex-align-center;
  justify-content: space-between;
  padding: 0 2rem;

  .mat-mdc-button:not(:disabled) {
    width: 12rem;
  }
}
