@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

li {
  @include flex-column;
  padding: 0 2rem;

  div {
    display: flex;
    justify-content: space-between;

    .mat-mdc-button:not(:disabled) {
      width: 12rem;
    }
  }
}
