<ng-container *ngIf="tournament$ | async">
  <div
    *ngIf="
      limitInscriptionValue === 0 ||
      tournamentDetails.currentNumberOfParticipants ===
        tournamentDetails.maxNumberOfTeams
    "
  >
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
      *ngIf="
        limitInscriptionValue === 0 &&
        !tournamentDetails.isGenerated &&
        tournamentDetails.isOwner
      "
    >
      GÉNÉRER LE TOURNOI
    </button>
  </div>
  <div
    *ngIf="tournamentDetails.isGenerated"
    class="list-tournament-tree-container"
  >
    <div class="list-tournament-tree-container-details">
      <div
        *ngIf="matchesByPhase"
        class="list-tournament-tree-container-cards-preliminary"
      >
        <div *ngFor="let phaseKey of phaseKeys; let j = index">
          <div
            *ngIf="phaseKey === 'Phase préliminaire'"
            class="list-tournament-tree-container-cards-preliminary-cards"
          >
            <h2>{{ phaseKey }}</h2>
            <div *ngFor="let match of matchesByPhase[phaseKey]">
              <app-card-tournament-match
                [match]="match"
                [matchesByPhase]="matchesByPhase"
                [phaseKey]="phaseKey"
                [tournamentDetails]="tournamentDetails"
                [indexRandomTeams]="j"
              ></app-card-tournament-match>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-tournament-tree-container-details">
      <div
        *ngIf="matchesByPhase"
        class="list-tournament-tree-container-cards-phases"
      >
        <div
          *ngFor="
            let phaseKey of sortPhaseKeysByMatchCount(phaseKeys);
            let index = index
          "
        >
          <div
            *ngIf="phaseKey !== 'Phase préliminaire'"
            class="list-tournament-tree-container-cards-phases-cards"
          >
            <h2>{{ phaseKey }}</h2>
            <div
              *ngFor="
                let match of matchesByPhase[phaseKey];
                let i = index;
                let last = last
              "
            >
              <app-card-tournament-match
                [match]="match"
                [matchesByPhase]="matchesByPhase"
                [phaseKey]="phaseKey"
                [tournamentDetails]="tournamentDetails"
                [isCompleted]="isPhaseIncomplete(matchesByPhase[phaseKey])"
                [indexRemainingTeams]="index"
                [isLastIteration]="last"
              ></app-card-tournament-match>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
