@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

@include media-mobile-tablet-screen {
.list-tournament-tree-container {
  width: 100%;
.list-tournament-tree-container-details {
  h2 {
    color: $text-list-tournament-tree-color;
  }

  .list-tournament-tree-container-cards {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
}
}

@include media-large-screen {
  .list-tournament-tree-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .list-tournament-tree-container-details {
      padding: 0 2rem 0 0;
      
      h2 {
        color: $text-list-tournament-tree-color;
        width: 15vw;
        height: 5rem;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1rem;
      }
  
      .list-tournament-tree-container-cards {
        color: $text-list-tournament-tree-color;
      }
    }
  }
}
