<div class="list-tournament-tree-container">
  <div *ngIf="totalPhase.randomMatchs">
    <h2>Phase de sélection aléatoire</h2>
    <div *ngFor="let match of getNumberArray(totalPhase.randomMatchs)">
      <!-- Ajouter une condition pour la première itération -->
      <!-- <app-card-tournament-match
        [namesTeamList]="getTeamName(i)"
      ></app-card-tournament-match> -->
    </div>
  </div>
  <div
    *ngFor="
      let phaseKey of getObjectKeys(tournamentPhase.result).reverse();
      let index = index
    "
  >
    <div
      *ngIf="
        tournamentPhase.result[phaseKey] !== 'Phase de sélection aléatoire'
      "
    >
      <h2>{{ tournamentPhase.result[phaseKey] }}</h2>
      <div>
        <div
          *ngFor="
            let match of getNumberArray(
              tournamentPhase.totalPhaseMatchs[phaseKey]
            );
            let i = index
          "
        >
          <!-- Ajouter une condition pour la première itération -->
          <app-card-tournament-match
            [namesTeamList]="getTeamName(i)"
            [index]="index"
          ></app-card-tournament-match>
        </div>
      </div>
    </div>
  </div>
</div>
