@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.list-team-members-container {
  background-color: $background-list-team-members-color;
  color: $text-list-team-members-color;
  margin-top: 1rem;

  .list-team-members-container-header {
    padding: 0.5rem;
    background-color: $background-button-list-team-members-color;
  }

  .list-team-members-container-body {
    padding: 0.5rem;
  }
}
