<app-contact-list></app-contact-list>
<div class="container-contact-page">
  <h1>ADRESSES AUXQUELLES NOUS POUVONS ÊTRE JOINTS</h1>
  <div class="line"></div>
  <div class="container-contact-page-actions">
    <div class="container-contact-page-actions-item">
      <a href="https://www.linkedin.com" target="_blank">
        <img src="../../../../assets/pictures/call.png" alt="logo_instagram" />
      </a>
      <h3>00.00.00.00.00</h3>
      <a href="https://www.linkedin.com" target="_blank">
        <img
          src="../../../../assets/pictures/e-mail.png"
          alt="logo_instagram"
        />
      </a>
      <h3>www.WinIt.com</h3>
      <a href="https://www.linkedin.com" target="_blank">
        <img
          src="../../../../assets/pictures/linkedin.png"
          alt="logo_instagram"
        />
      </a>
      <h3>https://www.linkedin.com/WinIt/</h3>
    </div>
  </div>
</div>
