@import '../../../../../assets/style/variables.scss';

.back-office-container {
  padding: 2rem;
}

.back-office-detail-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
}

mat-divider {
  margin-bottom: 1rem;
  border-top-color: $secondary-color;
}

h1 {
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  color: $important-color-text;
  text-transform: uppercase;
  margin-top: 0.5rem;
  width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.confirm-button {
  margin-right: 1rem;
}

.mat-mdc-raised-button:not(:disabled) {
  color: $primary-color-text;
}

.mat-mdc-raised-button:hover,
.mat-mdc-raised-button:focus {
  color: $primary-background-color;
}

.edit-form-container {
  width: 60%;
  margin: auto;
  padding-top: 1rem;
}

.error-message-size {
  font-size: small;
}

mat-form-field {
  width: 50%;
  padding: 8px;
}

mat-card {
  width: 25%;
}
