.carousel-container {
    max-width: 95vw;
    /* margin: auto; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
} 

.carousel {
    margin-top: 10vh;
    display: flex;
}

.app-tournament-card {
    display: inline-block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    align-items: center;
}



