@import '../../../../../assets/style/variables.scss';
@import '../../../../../assets/style/mixins.scss';

nav {
  margin: 2rem 0;

  ::ng-deep .mdc-tab__text-label {
    color: $secondary-color;
  }
}
