<div class="register-page-container">
  <div class="register-block">
    <h1 class="registration-title">Nouveau mot de passe</h1>
    <mat-divider class="register-divider"></mat-divider>

    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" formControlName="plainPassword" />
        <mat-error
          *ngIf="plainPassword?.errors && !plainPassword?.pristine"
          class="error-message-size">
          Mot de passe invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Confirmer le nouveau mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="plainPasswordVerification" />
      </mat-form-field>
      <mat-error *ngIf="!doPasswordsMatch" class="error-message-size">
        Les mots de passe doivent être identiques
      </mat-error>

      <ul>
        * Le mot de passe doit être composé d'au moins :
        <li>- 8 caractères</li>
        <li>- Une majuscule</li>
        <li>- Une minuscule</li>
        <li>- Un chiffre</li>
        <li>- Un caractère spécial</li>
      </ul>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="register-button">
          CONFIRMER
        </button>
      </div>
    </form>
  </div>
</div>
