@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

section {
  @include flex-column-center-align-justify;
  form {
    .mat-mdc-form-field {
      width: 100%;
      margin: 1rem 0;
    }

    button {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  @include media-tablet-screen {
    form {
      @include flex-column-center-align-justify;
      width: 60%;
      margin: 1rem 0;
    }
  }

  @include media-large-screen {
    form {
      @include flex-column-center-align-justify;
      width: 60%;
      margin: 1rem 0;
    }
  }
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above)
  div.mat-mdc-autocomplete-panel {
  background-color: $primary-background-color;
}
