<div class="back-office-container">
  <h1>Espace administrateur</h1>
  <mat-divider></mat-divider>
  <div>
    <p class="info-text">
      Dans cet espace, vous pouvez gérer la liste des utilisateurs de
      l'application et des sports proposés. Attention, toutes vos modifications
      auront un impact sur le bon fonctionnement de l'application, veuillez vous
      assurer d'avoir les autorisations nécessaires avant de les effectuer.
    </p>
  </div>
  <div class="back-office-tabs">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      color="accent">
      <mat-tab label="UTILISATEURS">
        <app-back-office-users-table></app-back-office-users-table>
      </mat-tab>
      <mat-tab label="SPORTS">
        <app-back-office-sports-table></app-back-office-sports-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
