<div class="back-office-container">
  <div *ngIf="user">
    <h1>Espace administrateur</h1>
    <mat-divider></mat-divider>
    <div class="back-office-detail-header">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <div class="button-container">
        <button mat-raised-button class="edit-button" color="primary"><mat-icon>edit</mat-icon>MODIFIER</button>
        <button mat-stroked-button color="warn"><mat-icon>delete</mat-icon>SUPPRIMER</button>
      </div>
    </div>
    <div class="back-office-detail-text-container">
      <div class="back-office-detail-params">
        <h3>Données de l'utilisateur</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Prénom</span>
            <span matListItemLine>{{ user.firstName }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Nom</span>
            <span matListItemLine>{{ user.lastName }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Ville</span>
            <span matListItemLine>{{ user.city }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Email</span>
            <span matListItemLine>{{ user.email }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Statut</span>
            <span matListItemLine *ngIf="user.isEnabled">Actif</span>
            <span matListItemLine *ngIf="!user.isEnabled">Inactif</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Role</span>
            <span matListItemLine>{{ user.role }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Date de création</span>
            <span matListItemLine>{{ user.createdAt | date: 'dd-MM-yyyy à hh:mm:ss' }}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Dernière mise à jour</span>
            <span matListItemLine>{{ user.updatedAt | date: 'dd-MM-yyyy à hh:mm:ss' }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="back-office-detail-stats">
        <h3>Statistiques sur l'utilisateur</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Nombre de tournois créés</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Nombre de tournois joués</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Nombre d'équipes</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Sport le plus pratiqué</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Dernière connexion le :</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
