<div class="back-office-container">
  <div *ngIf="user">
    <h1>Espace administrateur</h1>
    <mat-divider></mat-divider>
    <div>
      <p class="info-text">
        Ici, vous pouvez consulter les données et les statistiques d'un
        utilisateur. Vous pouvez également modifier ses informations
        personnelles, changer son statut sur l'application et désactiver son
        compte. Attention, toutes vos modifications auront un impact sur le bon
        fonctionnement de l'application, veuillez vous assurer d'avoir les
        autorisations nécessaires avant de les effectuer.
      </p>
    </div>
    <div class="back-office-detail-header">
      <h2>UTILISATEUR</h2>
      <div class="button-container">
        <button
          mat-raised-button
          class="edit-button"
          color="primary"
          [routerLink]="['/back-office/user/edit', user.id]">
          <mat-icon>edit</mat-icon>
          MODIFIER
        </button>
        <button
          mat-stroked-button
          color="warn"
          (click)="openDeleteDialog(user.id)">
          <mat-icon>delete</mat-icon>
          SUPPRIMER
        </button>
      </div>
    </div>
    <div class="back-office-detail-text-container">
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Prénom</span>
          <span matListItemLine>{{ user.firstName }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Nom</span>
          <span matListItemLine>{{ user.lastName }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Ville</span>
          <span matListItemLine>{{ user.city }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Email</span>
          <span matListItemLine>{{ user.email }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Activation du compte</span>
          <span matListItemLine *ngIf="user.enabled">Actif</span>
          <span matListItemLine *ngIf="!user.enabled">Inactif</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Statut</span>
          <span matListItemLine>{{ user.requiredRole }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Date de création</span>
          <span matListItemLine>{{
            user.createdAt | date: 'dd-MM-yyyy à hh:mm:ss'
          }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Dernière mise à jour</span>
          <span matListItemLine>{{
            user.updatedAt | date: 'dd-MM-yyyy à hh:mm:ss'
          }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
