@import '../../../../../assets/style/variables.scss';
@import '../../../../../assets/style/mixins.scss';

.team-list-card-container {
  padding: 1rem 2rem 0 2rem;

  h1 {
    color: $secondary-color;
    font-weight: normal;
    margin: 1rem 0;
  }

  mat-divider {
    margin: 0.5rem;
    border-top-color: $secondary-color;
  }

  .team-list-card-infos-container {
    margin: 2rem 0 1rem 0;
    color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;

    h1 {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    h2 {
      grid-row-start: 2;
      grid-column-start: 1;
      color: $important-color-text;
    }

    h3 {
      grid-column-start: 1;
      grid-row-start: 3;
      height: 100%;
      display: flex;
      align-items: center;
    }

    h3::before {
      content: url('../../../../../assets/pictures/couronne.png');
      margin-right: 0.5rem;
    }

    .list-teams-tounament-total-members {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: end;
      padding-right: 3.8rem;
      @include flex-column-center;
    }

    button:first-of-type {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: end;
      width: 10rem;
      color: $primary-color-button-text;
    }

    button:last-child {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-self: end;
      width: 10rem;
    }
  }
}
