@import "../../../../../assets/style/variables.scss";

.team-list-card-container {
  padding: 1rem;
  h1 {
    color: $secondary-color;
    font-weight: normal;
  }
  .team-list-card-infos-container {
    margin: 2rem 0;
    color: $secondary-color;

    h2 {
      color: $number-card-team-detail-color;
    }
  }
}
