@import '../team-form/team-form.component.scss';
@import '../../../../../assets/style/mixins.scss';

section {
  padding: 0;
  form {
    @include flex-column-center-align-justify;
    width: 100%;

    ::ng-deep .mat-mdc-form-field {
      width: 100%;
    }

    button {
      width: 100%;
    }

    button:last-child {
      margin-top: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    form {
      .mat-mdc-form-field {
        width: 40vw;
      }

      button {
        width: 40vw;
      }
    }
  }
}

::ng-deep #mat-autocomplete-0 {
  background-color: $primary-color;
}
