@import '../../../../assets/style/variables.scss';

.wi-paginator {
  background-color: $primary-background-color;
  color: $secondary-color-text;
  border-radius: 0.2rem;
}

::ng-deep .mat-mdc-paginator-range-label {
    margin: 0 !important;
}
