<div class="register-page-container">
  <div class="register-block">
    <h1 class="registration-title">Mot de passe oublié</h1>
    <mat-divider class="register-divider"></mat-divider>

    <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="register-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error
          *ngIf="email?.errors && !email?.pristine"
          class="error-message-size">
          Email invalide
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="register-button">
          CONFIRMER
        </button>
      </div>
    </form>
  </div>
</div>
