@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.team-list-card {
  width: 15rem;
  margin: 2rem;
  background-color: $background-card-team-list-color;
  color: $text-card-team-list-color;

  .team-list-card-subtitle {
    color: $number-card-team-list-color;
    margin-top: 1rem;
  }

  .team-list-card-actions {
    button {
      width: 100%;
    }
  }
}
