@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.list-last-tournaments-played-container {
  color: $text-list-last-tournaments-played-color;
  margin-top: 1rem;


  .list-last-tournaments-played-container-header {
    @include flex-align-center;
    background-color: $hearder-list-last-tournaments-played-color;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 4px 4px 0 0;

    h2 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .list-last-tournaments-played-container-body {
    @include flex-column-center;
    background-color: $background-list-last-tournaments-played-color;
    border-radius: 0 0 4px 4px;
    min-height: 15rem;

    img {
      width: 3.5rem;
    }

    .list-last-tournaments-played-container-body-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 0 0.5rem;

      @include media-large-screen {
        padding: 1rem;
      }

      .list-last-tournaments-played-container-body-detail {
        @include flex-align-center;

        h3 {
          font-size: 1rem;
          font-weight: 500;
        }

        p,
        h3 {
          padding: 0.2rem 0.5rem;
          @include media-large-screen {
            padding: 0.2rem 1rem;
          }
        }

        p {
          color: #e88223;
          text-transform: uppercase;
          font-size: small;
        }
      }
    }

    .mat-mdc-raised-button:not(:disabled) {
      color: $button-list-last-tournaments-playede-color-focus;
      z-index: 0;
    }

    .mat-mdc-raised-button:hover,
    .mat-mdc-raised-button:focus {
      color: $button-list-last-tournaments-playede-color-focus;
    }

    ::ng-deep .mat-mdc-raised-button:not(:disabled) {
      background-color: $background-list-last-tournaments-played-color;
      box-shadow: none;
      border: 1px solid $button-list-last-tournaments-playede-color-focus;
    }
  }

  @include media-large-screen {
    width: 47vw;
    margin-top: 1.5rem;
    margin-right: 1vw;
  }
}
