<section>
  <div class="list-last-tournaments-played-container-header">
    <h2>DERNIERS TOURNOIS</h2>
  </div>
  <div class="list-last-tournaments-played-container-body">
    <div class="list-last-tournaments-played-container-body-details">
      <div class="list-last-tournaments-played-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{
              currentProfile.lastTournamentsPlayed[0].lastTournament | titlecase
            }}
          </p>
          <h3>Rencontres Inter-Entreprises</h3>
        </div>
      </div>
      <button mat-raised-button>RÉSULTATS</button>
    </div>
    <div class="list-last-tournaments-played-container-body-details">
      <div class="list-last-tournaments-played-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{
              currentProfile.lastTournamentsPlayed[1].penultimateTournament
                | titlecase
            }}
          </p>
          <h3>Championnat Nouvelle-Aquitaine #3</h3>
        </div>
      </div>
      <button mat-raised-button>RÉSULTATS</button>
    </div>
    <div class="list-last-tournaments-played-container-body-details">
      <div class="list-last-tournaments-played-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{
              currentProfile.lastTournamentsPlayed[2].antepenultimateTournament
                | titlecase
            }}
          </p>
          <h3>Tournoi de Noël</h3>
        </div>
      </div>
      <button mat-raised-button>RÉSULTATS</button>
    </div>
  </div>
</section>
