<div class="register-page-container">
    <div class="register-block">
        <h1 class="registration-title">Création d'un tournoi</h1>
        <mat-divider class="register-divider"></mat-divider>

        <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">

            <!-- Name -->
            <mat-form-field appearance="outline" class="wi-tournament-form-field-big register-form-field">
                <mat-label for="name">Nom du tournoi</mat-label>
                <input id="name" type="text" formControlName="name" matInput/>
                <mat-error *ngIf="tournamentForm.controls['name']?.invalid && (tournamentForm.controls['name']?.dirty || tournamentForm.controls['name']?.touched)" class="error-message-size"> 
                    <small class="error" *ngIf="tournamentForm.controls['name'].hasError('required')">Nom du tournoi requis</small>
                    <small class="error" *ngIf="tournamentForm.controls['name'].hasError('minlength')">Le nom du tournoi doit dépasser 3 caractères</small>
                    <small class="error" *ngIf="tournamentForm.controls['name'].hasError('maxlength')">Le nom du tournoi ne doit pas dépasser 30 caractères</small>
                </mat-error>
            </mat-form-field>

            <!-- Place -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="place">Lieu du tournoi</mat-label>
                <input id="place" type="text" formControlName="place" matInput/>
                <mat-error *ngIf="tournamentForm.controls['place']?.invalid && (tournamentForm.controls['place']?.dirty || tournamentForm.controls['place']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['place'].hasError('required')">Lieu du tournoi requis</small>
                    <small class="error" *ngIf="tournamentForm.controls['place'].hasError('minlength')">Le nom du lieu doit dépasser 3 caractères</small>
                    <small class="error" *ngIf="tournamentForm.controls['place'].hasError('maxlength')">Le nom du lieu ne doit pas dépasser 30 caractères</small>
                </mat-error>
            </mat-form-field>

            <!-- Date -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="date">Date du tournoi</mat-label>
                <input id="date" type="date" formControlName="date" matInput/>
                <mat-error *ngIf="tournamentForm.controls['date']?.invalid && (tournamentForm.controls['date']?.dirty || tournamentForm.controls['date']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['date'].hasError('required')">Date du tournoi requise</small>
                    <small class="error" *ngIf="tournamentForm.controls['date'].hasError('minimumDate')">Date du tournoi invalide</small>
                </mat-error>
            </mat-form-field>

            <!-- Inscription Limit Date -->
            <mat-checkbox (click)="toggleInscriptionLimitDate()">Fermer les inscriptions avant le début du tournoi</mat-checkbox>
            <mat-form-field appearance="outline" class="wi-tournament-form-field-big register-form-field" [class.wi-displayLimitInscriptionDate]="!isDisplayedInscriptionLimitDate" [class.wi-hideLimitInscriptionDate]="isDisplayedInscriptionLimitDate">
                <mat-label for="inscriptionLimitDate">Date limite d'inscription au tournoi</mat-label>
                <input id="inscriptionLimitDate" type="date" formControlName="inscriptionLimitDate" matInput/>
                <mat-error *ngIf="tournamentForm.controls['inscriptionLimitDate']?.invalid && (tournamentForm.controls['inscriptionLimitDate']?.dirty || tournamentForm.controls['inscriptionLimitDate']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['inscriptionLimitDate'].hasError('required')">Date limite d'inscription au tournoi requise</small>
                    <small class="error" *ngIf="tournamentForm.controls['inscriptionLimitDate'].hasError('minimumDate')">Date limite d'inscription au tournoi invalide</small>
                    <small class="error" *ngIf="tournamentForm.controls['inscriptionLimitDate'].hasError('maximumDate')">Date limite d'inscription au tournoi invalide</small>
                </mat-error>
            </mat-form-field>
            <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c1205077789-4" ng-reflect-ng-switch="hint" [class.wi-displayWrapper]="isDisplayedInscriptionLimitDate">
                <div class="mat-mdc-form-field-hint-wrapper ng-tns-c1205077789-4 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                    <div class="mat-mdc-form-field-hint-spacer ng-tns-c1205077789-4">
                    </div>
                </div>
            </div>

            <!-- Sport -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="sport">Sport</mat-label>
                <mat-select formControlName="sport">
                    <mat-option *ngFor="let sport of sports$ | async" [value]="sport.name">
                        {{ sport.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="tournamentForm.controls['sport']?.invalid && (tournamentForm.controls['sport']?.dirty || tournamentForm.controls['sport']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['sport'].hasError('required')">Sport du tournoi requis</small>
                </mat-error>
            </mat-form-field>

            <!-- Players Per Team -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="playersPerTeam">Nombre de joueurs par équipes</mat-label>
                <input id="playersPerTeam" type="number" formControlName="playersPerTeam" matInput/>
                <mat-error *ngIf="tournamentForm.controls['playersPerTeam']?.invalid && (tournamentForm.controls['playersPerTeam']?.dirty || tournamentForm.controls['playersPerTeam']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['playersPerTeam'].hasError('required')">Durée par match requise</small>
                </mat-error>
            </mat-form-field>

            <!-- Min Teams -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="minTeams">Nombre min. d'équipes</mat-label>
                <input id="minTeams" type="number" formControlName="minTeams" matInput/>
                <mat-error *ngIf="tournamentForm.controls['minTeams']?.invalid && (tournamentForm.controls['minTeams']?.dirty || tournamentForm.controls['minTeams']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['minTeams'].hasError('required')">Nombre min. d'équipes requis</small>
                </mat-error>
            </mat-form-field>

            <!-- Max Teams -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="maxTeams">Nombre max d'équipes</mat-label>
                <input id="maxTeams" type="number" formControlName="maxTeams" matInput/>
                <mat-error *ngIf="tournamentForm.controls['maxTeams']?.invalid && (tournamentForm.controls['maxTeams']?.dirty || tournamentForm.controls['maxTeams']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['maxTeams'].hasError('required')">Nombre max d'équipes requis</small>
                </mat-error>
            </mat-form-field>

            <!-- Game Length -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="gameLength">Durée par match</mat-label>
                <input id="gameLength" type="number" formControlName="gameLength" matInput/>
                <mat-error *ngIf="tournamentForm.controls['gameLength']?.invalid && (tournamentForm.controls['gameLength']?.dirty || tournamentForm.controls['gameLength']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['gameLength'].hasError('required')">Durée par match requise</small>
                </mat-error>
            </mat-form-field>

            <!-- Privacy -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="privacy">Visibilité</mat-label>
                <mat-select formControlName="privacy">
                    <mat-option *ngFor="let tournamentPrivacy of tournamentPrivacies" [value]="tournamentPrivacy">
                        {{ tournamentPrivacy }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="tournamentForm.controls['privacy']?.invalid && (tournamentForm.controls['privacy']?.dirty || tournamentForm.controls['privacy']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['privacy'].hasError('required')">Visibilité requise</small>
                    <small class="error" *ngIf="tournamentForm.controls['privacy'].hasError('enum')">Saisie invalide</small>
                </mat-error>
            </mat-form-field>

            <!-- Player Category -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="playerCategory">Catégorie</mat-label>
                <mat-select formControlName="playerCategory">
                    <mat-option *ngFor="let playerCategory of playerCategories" [value]="playerCategory">
                        {{ playerCategory }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="tournamentForm.controls['playerCategory']?.invalid && (tournamentForm.controls['playerCategory']?.dirty || tournamentForm.controls['playerCategory']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['playerCategory'].hasError('required')">Catégorie requise</small>
                    <small class="error" *ngIf="tournamentForm.controls['playerCategory'].hasError('enum')">Saisie invalide</small>
                </mat-error>
            </mat-form-field>

            <!-- Tournament Format -->
            <mat-form-field appearance="outline" class="register-form-field">
                <mat-label for="tournamentFormat">Format</mat-label>
                <mat-select formControlName="tournamentFormat">
                    <mat-option *ngFor="let tournamentFormat of tournamentFormats" [value]="tournamentFormat">
                        {{ tournamentFormat }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="tournamentForm.controls['tournamentFormat']?.invalid && (tournamentForm.controls['tournamentFormat']?.dirty || tournamentForm.controls['tournamentFormat']?.touched)"> 
                    <small class="error" *ngIf="tournamentForm.controls['tournamentFormat'].hasError('required')">Catégorie requise</small>
                    <small class="error" *ngIf="tournamentForm.controls['tournamentFormat'].hasError('enum')">Saisie invalide</small>
                </mat-error>
            </mat-form-field>

            <!-- Tournament Banner -->
            <app-file-upload [groupParent]="tournamentForm" formControlNameValue="tournamentBanner" labelValue="Bannière du tournoi"></app-file-upload>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" class="register-button" [disabled]="tournamentForm.invalid">CREER LE TOURNOI</button>
            </div>

        </form>

        <!-- <button (click)="logStuff()">LogStuff</button> -->
    </div>
</div>
