<main>
  <h1>Mentions Légales</h1>
  <mat-divider></mat-divider>
  <div class="text-container">
    <h3>Éditeur du site</h3>
    <p>
      Nom de l'entreprise : Winit<br />
      Adresse : 123 Rue du Sport, 75000 Paris, France<br />
      Téléphone : +33 1 23 45 67 89<br />
      Email : <a href="mailto:contact@winit.com">contact&#64;winit.com</a><br />
    </p>

    <h3>Propriété intellectuelle</h3>
    <p>
      L'ensemble du contenu présent sur le site Winit, y compris, mais sans s'y
      limiter, les textes, les images, les graphismes, les logos, les vidéos,
      les sons, et les icônes, est la propriété exclusive de Winit SAS ou de ses
      partenaires. Toute reproduction, distribution, modification, adaptation,
      retransmission ou publication de ces éléments est strictement interdite
      sans l'accord écrit préalable de Winit.
    </p>

    <h3>Données personnelles</h3>
    <p>
      Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée,
      ainsi qu'au Règlement Général sur la Protection des Données (RGPD), vous
      disposez d'un droit d'accès, de rectification, de suppression et
      d'opposition aux données personnelles vous concernant. Pour exercer ces
      droits, vous pouvez nous contacter à l'adresse suivante :
      <a href="mailto:contact@winit.com">contact&#64;winit.com</a>.
    </p>
    <p>
      Nous nous engageons à protéger la confidentialité de vos informations
      personnelles et à ne pas les divulguer à des tiers sans votre
      consentement, sauf si la loi nous y oblige.
    </p>

    <h3>Cookies</h3>
    <p>
      Le site Winit peut utiliser des cookies pour améliorer l'expérience
      utilisateur, analyser le trafic du site et personnaliser le contenu. En
      utilisant notre site, vous consentez à l'utilisation des cookies. Vous
      pouvez configurer votre navigateur pour refuser les cookies ou pour être
      averti lorsqu'un cookie est envoyé.
    </p>

    <h3>Limitation de responsabilité</h3>
    <p>
      Winit s'efforce d'assurer au mieux de ses capacités l'exactitude et la
      mise à jour des informations diffusées sur le site. Cependant, Winit ne
      peut garantir l'exactitude, la précision ou l'exhaustivité des
      informations mises à disposition sur ce site. En conséquence, Winit
      décline toute responsabilité pour toute imprécision, inexactitude ou
      omission portant sur des informations disponibles sur le site.
    </p>

    <h3>Liens hypertextes</h3>
    <p>
      Le site Winit peut contenir des liens hypertextes vers d'autres sites.
      Winit SAS n'exerce aucun contrôle sur le contenu de ces sites et décline
      toute responsabilité quant à leur contenu. L'accès à ces sites se fait aux
      risques et périls de l'utilisateur.
    </p>

    <h3>Droit applicable</h3>
    <p>
      Les présentes mentions légales sont régies par le droit français. En cas
      de litige, et après une tentative de recherche d'une solution amiable, les
      tribunaux français seront seuls compétents pour résoudre ce litige.
    </p>

    <h3>Contact</h3>
    <p>
      Pour toute question relative aux mentions légales du site Winit, vous
      pouvez nous contacter par email à
      <a href="mailto:contact@winit.com">contact&#64;winit.com</a> ou par
      courrier à l'adresse suivante :
    </p>
    <p>
      Winit<br />
      123 Rue du Sport<br />
      75000 Paris<br />
      France
    </p>
  </div>
</main>
