<article>
  <section>
    <h2>{{ match.team1 }}</h2>
    <p *ngIf="match.team1 !== 'En attente' && match.team2 !== 'En attente'">
      {{ match.scoreTeam1 }}
    </p>
    <p *ngIf="match.team1 === 'En attente' || match.team2 === 'En attente'">
      {{ match.scoreTeam1 }}
    </p>
  </section>
  <section>
    <h2>{{ match.team2 }}</h2>
    <p *ngIf="match.team1 !== 'En attente' && match.team2 !== 'En attente'">
      {{ match.scoreTeam2 }}
    </p>
    <p *ngIf="match.team1 === 'En attente' || match.team2 === 'En attente'">
      {{ match.scoreTeam2 }}
    </p>
  </section>
  <button
    mat-raised-button
    color="primary"
    (click)="openDialog()"
    *ngIf="!isCompleted"
  >
    Score
  </button>
</article>

<!-- *ngIf="
!isCompleted && match.winnerTeamId === null && match.loserTeamId === null
" -->
