<article
  *ngIf="match"
  tabindex="0"
  [ngStyle]="{
    'margin-top.rem':
      (isDesktop || isLargeDesktop) && !first
        ? margin * 6 * 2
        : isDesktop || isLargeDesktop
          ? margin * 6
          : 1.5,

    'margin-bottom.rem': (isDesktop || isLargeDesktop) && last && 0
  }"
  (click)="openDialog()"
  (keyup.enter)="openDialog()">
  <section
    [ngStyle]="{
      'height.rem': isDesktop || isLargeDesktop ? height : 3.5
    }">
    <h3>{{ truncateName(match.team1) }}</h3>
    <p *ngIf="match.team1 !== 'En attente' && match.team2 !== 'En attente'">
      {{ match.scoreTeam1 }}
    </p>
    <p *ngIf="match.team1 === 'En attente' || match.team2 === 'En attente'">
      {{ match.scoreTeam1 }}
    </p>
  </section>
  <section
    [ngStyle]="{
      'height.rem': isDesktop || isLargeDesktop ? height : 3.5
    }">
    <h3>{{ truncateName(match.team2) }}</h3>
    <p *ngIf="match.team1 !== 'En attente' && match.team2 !== 'En attente'">
      {{ match.scoreTeam2 }}
    </p>
    <p *ngIf="match.team1 === 'En attente' || match.team2 === 'En attente'">
      {{ match.scoreTeam2 }}
    </p>
  </section>
</article>
