@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

@include media-mobile-tablet-screen {
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-background-color;
    width: calc(100vw - 4rem);
    margin: 0.5rem 0 0 0;
    color: $secondary-color-text;

    section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.5rem;
      margin: 0;
      padding: 0 0.4rem;
      p {
        font-size: 1.5rem;
      }
    }

    section:first-child {
      border-right: 1px solid $important-color-line;

      h3 {
        margin-right: 2rem;
      }
    }

    section:last-child {
      flex-direction: row-reverse;
      border-left: 1px solid $important-color-line;

      h3 {
        margin-left: 2rem;
      }
    }
  }
  section {
    width: calc(100vw - 4rem);
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;

    button {
      margin: 0.5rem 0;
    }
  }
}

@include media-large-screen {
  article {
    display: flex;
    flex-direction: column;
    background-color: $primary-background-color;
    width: 15rem;
    color: $secondary-color-text;
    margin-right: 2rem;

    section {
      margin: 0;
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.4rem;
      border-left: 1px solid $important-color-line;
      width: 15rem;
    }

    section:first-child {
      border-bottom: 1px solid $secondary-color-line;
    }

    section:last-child {
      border-top: 1px solid $secondary-color-line;
    }
  }
  section {
    width: 15rem;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;

    button {
      margin: 0.5rem 0;
    }
  }
}
