<div class="card-tournament-match-container">
  <div class="card-tournament-match-container-details" *ngIf="index === 0">
    <p>{{ namesTeamList }}</p>
    <p>0</p>
    <div class="line"></div>
  </div>
  <div class="card-tournament-match-container-details" *ngIf="!randomMatchs">
    <p>{{ namesTeamList }}</p>
    <p>0</p>
    <div class="line"></div>
  </div>
  <div class="card-tournament-match-container-details" *ngIf="index > 0">
    <p>Name</p>
    <p>0</p>
    <div class="line"></div>
  </div>
</div>
