@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

section {
  @include flex-column-center-align-justify;
  margin-top: 2vh;
  padding: 2rem;

  h1 {
    color: $secondary-color;
    font-weight: normal;
    margin: 1rem 0;
    width: 100%;
    text-align: left;
  }

  .mat-divider {
    margin: 0.5rem;
    border-top-color: $secondary-color;
    width: 100%;
  }

  form {
    padding: 8px;
  }

  .error-message-size {
    font-size: small;
  }

  .button-container {
    @include flex-column-center-align-justify;
    margin-top: 1rem;
    button {
      width: 15rem;
    }

    button:first-child {
      margin-bottom: 2rem;
    }
  }

  .mat-mdc-form-field {
    display: flex;
    margin: 2rem 0;
  }

  .mat-mdc-raised-button:not(:disabled) {
    color: $secondary-color;
  }

  .mat-mdc-raised-button:hover,
  .mat-mdc-raised-button:focus {
    color: $background-color;
  }

  @media screen and (min-width: 768px) {
    .button-container {
      button {
        width: 25rem;
      }
    }
  }
}
