@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.card-result-total-container {
  background-color: $background-card-result-total-color;
  @include flex-column;
  padding: 0 1rem;
  border-radius: 4px;
  margin-top: 1.5rem;

  .card-result-total-container-infos {
    @include flex;
    padding: 0.5rem;
    p {
      width: 50%;
      text-align: center;
      color: $number-card-result-total-color;
      font-size: 1.5rem;
    }

    .card-result-total-container-text {
      width: 50%;
      color: $text-card-result-total-color;
      text-align: left;
      font-size: 1.2rem;
      align-self: center;
    }
  }

  .line {
    border: 1px solid $line-card-result-total-color;
    width: 100%;
  }

  @include media-large-screen {
    height: 7rem;
    margin: 1.5rem 1vw 0 1vw;
    width: 23vw;

    .card-result-total-container-infos {
      @include flex-justify-content-space-between;
      p {
        width: 40%;
        padding: 0.3rem;
      }

      .card-result-total-container-text {
        width: 50%;
        font-size: 1rem;
      }
    }
  }
}
