<div class="tournament-details-container">
  <app-card-details-tournament
    *ngIf="tournamentDetails$ | async as tournamentDetails"
    [tournamentDetails]="tournamentDetails"
  ></app-card-details-tournament>
  <app-menu-infos-tournament
    (buttonClick)="onButtonClicked($event)"
  ></app-menu-infos-tournament>

  <div *ngIf="buttonValueClicked === 'matchs'">
    <app-card-tournament-match></app-card-tournament-match>
  </div>

  <div *ngIf="buttonValueClicked === 'teams'">
    <app-list-teams-tournament></app-list-teams-tournament>
  </div>
</div>
