<div class="tournament-details-container">
  <app-card-details-tournament
    *ngIf="tournamentDetails$ | async as tournamentDetails"
    [tournamentDetails]="tournamentDetails"
  ></app-card-details-tournament>

  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="mat-tabs"
  >
    <mat-tab label="MATCH">
      <app-list-tournament-tree
        *ngIf="tournamentDetails$ | async as tournamentDetails"
        [tournamentDetails]="tournamentDetails"
      ></app-list-tournament-tree
    ></mat-tab>
    <mat-tab label="ÉQUIPE">
      <app-list-teams-tournament
        *ngIf="tournamentDetails$ | async as tournamentDetails"
        [tournamentDetails]="tournamentDetails"
      ></app-list-teams-tournament
    ></mat-tab>
  </mat-tab-group>
</div>
