<section *ngIf="this.userStatistics?.nextTournaments.length !== 0">
  <div class="list-next-tournaments-container-header">
    <h2>PROCHAINS TOURNOIS</h2>
  </div>
  <div class="list-next-tournaments-container-body">
    <div class="list-next-tournaments-container-body-details">
      <div class="list-next-tournaments-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{ userStatistics?.nextTournaments[0]?.name | titlecase }}
          </p>
          <h3>{{ userStatistics?.nextTournaments[0]?.place | titlecase }}</h3>
        </div>
      </div>
      <button
        mat-raised-button
        (click)="onClick(userStatistics?.nextTournaments[0])"
      >
        VOIR PLUS
      </button>
    </div>
    <div class="list-next-tournaments-container-body-details">
      <div class="list-next-tournaments-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{ userStatistics?.nextTournaments[1]?.name | titlecase }}
          </p>
          <h3>{{ userStatistics?.nextTournaments[1]?.place | titlecase }}</h3>
        </div>
      </div>
      <button
        mat-raised-button
        (click)="onClick(userStatistics?.nextTournaments[1])"
      >
        VOIR PLUS
      </button>
    </div>
    <div class="list-next-tournaments-container-body-details">
      <div class="list-next-tournaments-container-body-detail">
        <img
          src="../../../../../assets/pictures/award.png"
          alt="sport detail image"
        />
        <div>
          <p>
            {{ userStatistics?.nextTournaments[2]?.name | titlecase }}
          </p>
          <h3>{{ userStatistics?.nextTournaments[2]?.place | titlecase }}</h3>
        </div>
      </div>
      <button
        mat-raised-button
        (click)="onClick(userStatistics?.nextTournaments[2])"
      >
        VOIR PLUS
      </button>
    </div>
    <div
      *ngIf="!userStatistics?.nextTournaments[2]"
      class="list-next-tournaments-container-body-details"
    >
      <p>Vous n'avez pas d'autres tournois prévus pour le moment.</p>
    </div>
  </div>
</section>
