@import "../../../../../assets/style/variables.scss";

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  margin-left: 1rem;
}

.mat-mdc-raised-button:not(:disabled) {
  color: white;
}

.mat-mdc-raised-button:hover,
.mat-mdc-raised-button:focus {
  color: $background-color;
}
