@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.list-team-container {
  padding: 0 1rem;

  h1 {
    color: $secondary-color;
    font-weight: normal;
  }

  .list-team-cards-container {
    @include flex-wrap-left;
  }
}
