<div
  *ngIf="tournament$ | async as tournamentDetails"
  class="card-details-tournament-container"
>
  <img src="{{ image }}" alt="" />
  <div class="card-details-tournament-container-body">
    <div class="card-details-tournament-container-header">
      <h3>{{ tournamentDetails.sport }}</h3>
      <h2>{{ tournamentDetails.name }}</h2>
      <div
        *ngIf="remainingTime !== 'Inscription terminée'"
        class="card-details-tournament-container-header-inscription"
      >
        <p>{{ remainingTime }}</p>
        <button mat-raised-button color="primary">PARTICIPER</button>
      </div>
    </div>
    <div class="card-details-tournament-container-other-info">
      <div class="card-details-tournament-container-other-info-details">
        <mat-icon>location_on</mat-icon>
        <p>{{ tournamentDetails.place }}</p>
        <mat-icon>date_range</mat-icon>
        <p>{{ tournamentDetails.date | date : "dd MMMM yyyy" | titlecase }}</p>
        <p>
          Équipes inscrites :
          {{
            tournamentDetails.currentNumberOfParticipants !== null
              ? tournamentDetails.currentNumberOfParticipants
              : "0"
          }}/{{ tournamentDetails.maxNumberOfTeams }}
        </p>
        <p>{{ tournamentDetails.format }}</p>
        <p>{{ tournamentDetails.privacy }}</p>
      </div>
    </div>
  </div>
</div>
