@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.card-details-tournament-container {
  color: $text-card-details-tournament-color-primary;

  h3 {
    color: $text-card-details-tournament-colo-secondary;
  }

  .card-details-tournament-container-header {
    @include flex-justify-content-space-between;

    h2 {
      padding: 1rem 2rem 1rem 0;
    }
  }

  .card-details-tournament-container-other-info {
    @include flex-align-center;
    p {
      padding-left: 0.5rem;
    }
  }

  .mat-mdc-raised-button:not(:disabled) {
    color: $button-card-current-profile-color-text;
    z-index: 0;
  }

  .mat-mdc-raised-button:hover,
  .mat-mdc-raised-button:focus {
    color: $button-card-current-profile-color-focus;
  }
}
