<div class="card-details-tournament-container">
  <h3>
    {{ tournamentDetails.sport }}
  </h3>
  <div class="card-details-tournament-container-header">
    <h2>{{ tournamentDetails.name }}</h2>
    <button mat-raised-button color="primary">PARTICIPER</button>
  </div>
  <div class="card-details-tournament-container-other-info">
    <div class="card-details-tournament-container-other-info-details">
      <mat-icon>location_on</mat-icon>
      <p>{{ tournamentDetails.city }}</p>
    </div>
    <div class="card-details-tournament-container-other-info-details">
      <mat-icon>date_range</mat-icon>
      <p>{{ tournamentDetails.date }}</p>
    </div>
  </div>
</div>
