@import "../../../../../assets/style/variables.scss";
@import "../../../../../assets/style/mixins.scss";

.card-details-tournament-container {
  color: $secondary-color-text;
  @include flex-column;

  img {
    max-width: 20rem;
  }

  .card-details-tournament-container-body {
    padding-left: 2rem;
    @include flex-column;

    .card-details-tournament-container-header {
      h3 {
        color: $important-color-text;
        padding-top: 1rem;
      }

      h2 {
        padding-top: 1rem;
      }

      .card-details-tournament-container-header-inscription {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
      }
    }

    .card-details-tournament-container-other-info {
      @include flex-align-center;
      padding-top: 1rem;

      .card-details-tournament-container-other-info-details {
        @include flex-wrap;

        ::ng-deep .mat-icon {
          margin-right: 0.5rem;
        }

        p {
          padding-right: 0.8rem;
        }
      }
    }

    .mat-mdc-raised-button:not(:disabled) {
      color: $secondary-color-text;
      z-index: 0;
    }

    .mat-mdc-raised-button:hover,
    .mat-mdc-raised-button:focus {
      color: $primary-color-focus;
    }
  }

  @include media-tablet-screen {
    display: flex;
    flex-direction: row;
  }

  @include media-large-screen {
    display: flex;
    flex-direction: row;
  }
}
