<main>
  <h1>A propos de nous...</h1>
  <mat-divider></mat-divider>
  <div class="text-container">
    <p>
      Bienvenue sur Winit, votre plateforme ultime pour organiser et participer
      à des tournois de sports collectifs ! Guidé par la passion du sport, Winit
      est conçu pour vous offrir une expérience inoubliable, que vous soyez
      organisateur ou participant.
    </p>
    <h3>Notre histoire</h3>
    <p>
      Winit a été fondé par une équipe de passionnés de sport qui ont constaté à
      quel point il était difficile d'organiser et de gérer des tournois de
      manière efficace. Animés par l'envie de simplifier ce processus et de
      rendre le sport amateur accessible à tous, nous avons créé une plateforme
      qui combine technologie et passion sportive. Depuis notre lancement, nous
      avons aidé des milliers de sportifs amateurs à se réunir, à s'amuser et à
      se dépasser.
    </p>
    <h3>Notre mission</h3>
    <p>
      Chez Winit, nous croyons que le sport a le pouvoir de rassembler les gens,
      de promouvoir un mode de vie sain et de créer des souvenirs durables.
      Notre mission est de faciliter l'organisation de tournois pour les
      amateurs de sports collectifs en fournissant une plateforme intuitive et
      complète. Nous souhaitons encourager la pratique sportive à tous les
      niveaux et permettre à chacun de vivre pleinement sa passion, grâce à :
    </p>
    <div class="first-paragraph-container">
      <img src="../../../assets/pictures/about-us.jpg" alt="photo" />
      <ul>
        <li>
          <mat-icon>check</mat-icon>
          Une création de tournois simplifiée : En quelques clics, créez et
          personnalisez vos tournois, en choisissant les règles, les formats de
          jeu et les critères de participation.
        </li>
        <li>
          <mat-icon>check</mat-icon>
          Une gestion des inscriptions automatisée : Les équipes peuvent
          s'inscrire directement via notre plateforme, vous pouvez suivre les
          inscriptions en temps réel et gérer facilement les listes de
          participants.
        </li>
        <li>
          <mat-icon>check</mat-icon>
          La génération d'un arbre de matchs : Ne perdez plus de temps à
          réfléchir au format idéal ! Winit vous simplifie la tâche en générant
          un arbre de matchs pour votre tournoi en fonction du nombre d'équipes.
        </li>
      </ul>
    </div>
    <div class="second-paragraph-container">
      <div>
        <h3>Et pour les participants ?</h3>
        <ul>
          <li>
            <mat-icon>check</mat-icon>
            Trouvez facilement des tournois près de chez vous ou dans des lieux
            de votre choix, grâce à notre moteur de recherche convivial.
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Créez vos équipes directement sur la plateforme et ajoutez-y
            d'autres membres.
          </li>
          <li>
            <mat-icon>check</mat-icon>
            Suivez les résultats et les classements en temps réel, affichez vos
            performances sur votre profil et célébrez vos victoires avec vos
            coéquipiers.
          </li>
        </ul>
      </div>
      <img src="../../../assets/pictures/basketball.jpg" alt="photo" />
    </div>
    <h3>Join the team!</h3>
    <p>
      Que vous soyez un organisateur chevronné ou un sportif amateur à la
      recherche de nouveaux défis, Winit est là pour vous aider à concrétiser
      vos projets sportifs. Rejoignez notre communauté aujourd'hui et commencez
      à vivre l'expérience Winit !
    </p>
    <p>Ensemble, faisons du sport une fête !</p>
    <div class="signature">
      <p>L'équipe Winit</p>
    </div>
  </div>
</main>
