<div class="member-detail-container" *ngIf="selectedTeam">
  <div class="member-detail-container">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      class="mat-tabs"
      #tabGroup
    >
      <mat-tab label="LISTE DES MEMBRES">
        <app-list-member></app-list-member>
      </mat-tab>
      <mat-tab
        *ngIf="selectedTeam.numberOfMemberInTeam < selectedTeam.numberOfPlayers"
        label="AJOUT D'UN MEMBRE"
      >
        <app-create-member
          (cancelClicked)="handleCancelClick()"
        ></app-create-member>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
